<!DOCTYPE>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout}">
	<body>
		<section layout:fragment="content">
			<div class="container">
				<div class="row"></div>
				<div class="row">
					<form class="col s12" method="post">
						<div class="row">
							<div class="input-field col s10">
								<textarea id="textarea1" class="materialize-textarea" name="descricao"></textarea>
								<label for="textarea1">Digite sua tarefa</label>
							</div>
							<div class="col s2 input-field">
								<button class="btn waves-effect waves-light" type="submit">Adicionar</button>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</section>
	</body>
</html>